#Therion scrap back images
Drawings/**/*.png

#Final images from therion
Drawings/Jaskinia_Mietusia/Build/*

#Walls
*.nta
*.ntn
*.ntv
*.nts
*.ntp
*.wrl
*.log
*.lst


#Survex
*.3d
*.err
*~
*.log
*.pos
*.diff
*.xml

#Libreoffice
.~lock*
.~lock.status.csv#

#Python
venv/
__pycache__/
*.py[cod]


#Mkdocs
Docs/site/
