*include ./Surveys/Dolina_Malej_Laki/Przechod_Kotliny/System_Wielkiej_Snieznej/system_wielkiej_snieznej.svx
*include ./Surveys/Dolina_Malej_Laki/Przechod_Kotliny/Sniezna_Studnia/sniezna_studnia.svx
*include ./Surveys/Dolina_Koscieliska/Wysoki_Grzbiet/System_Wysokiej/system_wysokiej.svx
*include ./GPS/gps.svx
