*include ./Surveys/Dolina_Malej_Laki/Przechod_Kotliny/System_Wielkiej_Snieznej/system_wielkiej_snieznej.svx
*include ./Surveys/Dolina_Malej_Laki/Przechod_Kotliny/Sniezna_Studnia/sniezna_studnia.svx
*include ./Surveys/Dolina_Koscieliska/Wysoki_Grzbiet/System_Wysokiej/system_wysokiej.svx
*include ./Surveys/Dolina_Koscieliska/Kominiarski_Wierch/Bandzioch_Kominiarski/bandzioch_kominiarski.svx
*include ./Surveys/Dolina_Mietusia/Ratusz_Mulowy/ptasia.svx
*include ./Surveys/Dolina_Koscieliska/Organy/Jaskinia_Zimna/zimna.svx
*include ./Surveys/Dolina_Koscieliska/Organy/Jaskinia_Czarna/czarna.svx
*include ./Surveys/Dolina_Mietusia/Jaskinia_Mietusia/mietusia.svx
*include ./Surveys/Dolina_Mietusia/Jaskinia_Mietusia_Wyznia/mietusia_wyznia.svx
*include ./Surveys/Dolina_Mietusia/Kazalnica_Mietusia/Marmurowa/marmurowa.svx

*include ./GPS/gps.svx

