*include ./Surveys/Dolina_Koscieliska/Organy/Jaskinia_Czarna/czarna.svx
*include ./Surveys/Dolina_Mietusia/Jaskinia_Mietusia/mietusia.svx
*include ./Surveys/Dolina_Mietusia/Jaskinia_Mietusia_Wyznia/mietusia_wyznia.svx

*include ./GPS/gps.svx

