;  OBLIGATORY FIELDS
;    Cave_name         Multiple caves
;    Section_name      Jaskinia Mietusia neigbourhood
;    Entry_last_update 2024-01-01
;    Author            Radost Waszkiewicz - Speleoklub Warszawski
;    Licence           CC BY SA 4.0
;    Survey_device     None

*include ./../Surveys/Jaskinia_Czarna/czarna.svx
*include ./../Surveys/Jaskinia_Mietusia/mietusia.svx
*include ./../Surveys/Jaskinia_Mietusia_Wyznia/mietusia_wyznia.svx

*include ./../GPS/gps.svx

